@tailwind base;
@tailwind components;
@tailwind utilities;


/* .main-width{
  margin-left: auto;
  margin-right: auto;
  max-width: calc(1200px + 40px);
  padding-left: 1.25rem;
  padding-right: 1.25rem;
} */

 .game-bg{
  background-image: url("/user/02.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 }